In [13]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt

In [15]:
path = r'data/' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, encoding= 'unicode_escape')
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [16]:
frame

,Year,Athlete,Country,Time,Country/State,Notes,State,Nationality,Time(h:m:s),Winner,Country/State or Province
0,2019,Ashete Bekere,Ethiopia,2:20:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,Gladys Cherono,Kenya,2:18:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,Gladys Cherono,Kenya,2:20:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,Aberu Kebede,Ethiopia,2:20:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,Gladys Cherono,Kenya,2:19:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
551,2011,Hailu Mekonnen,Ethiopia,2:07:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,2010,Masakazu Fujiwara,Japan,2:12:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,2009,Salim Kipsang,Kenya,2:10:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,2008,Viktor Röthlin,Switzerland,2:07:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,2007,Daniel Njenga,Kenya,2:09:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN